---
http_interactions:
- request:
    method: get
    uri: https://bcourses.berkeley.edu/api/v1/courses/1451720/groups?access_token=1072~Zm4iiMS6qas0RPB7sma5ICpAdLJKU0UMMyeP56yBrxUkL8aANpXnAooC0d3NI2TP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2aaa68baddb004372809fc1927d61442"
      Link:
      - <https://bcourses.berkeley.edu/api/v1/courses/1451720/groups?page=1&per_page=10>;
        rel="current",<https://bcourses.berkeley.edu/api/v1/courses/1451720/groups?page=1&per_page=10>;
        rel="first",<https://bcourses.berkeley.edu/api/v1/courses/1451720/groups?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - q=873;at=10720000000446267;dk=170000000000016;a=90242;g=yGkEvpxAPyTeKLHaHOxZqJNjMXbA5ZV86ZZ6139o;s=1072;c=cluster55;z=us-east-1e;o=groups;n=context_index;t=Course;i=1451720;b=1396360;m=1396360;u=0.07;y=0.01;d=0.02;
      X-Canvas-User-Id:
      - '10720000004861900'
      X-Rate-Limit-Remaining:
      - '700.0'
      X-Request-Context-Id:
      - f1df139e-dc9f-40a8-8018-c9ba4c007e2f
      X-Request-Cost:
      - '0.09499754900005003'
      X-Request-Processor:
      - a01d8a4
      X-Session-Id:
      - 583fb335ba1f0c4057b989a04a48344b
    body:
      encoding: UTF-8
      string: '[{"id":229826,"name":"ProjectScope","max_membership":null,"is_public":false,"join_level":"invitation_only","group_category_id":58269,"description":null,"members_count":5,"storage_quota_mb":500,"context_type":"Course","course_id":1451720,"avatar_url":null,"role":null,"leader":null,"has_submission":false,"concluded":false},{"id":229874,"name":"Test
        Group","max_membership":null,"is_public":false,"join_level":"invitation_only","group_category_id":58269,"description":null,"members_count":0,"storage_quota_mb":500,"context_type":"Course","course_id":1451720,"avatar_url":null,"role":null,"leader":null,"has_submission":false,"concluded":false}]'
  recorded_at: Mon, 17 Oct 2016 00:50:14 GMT
- request:
    method: get
    uri: https://bcourses.berkeley.edu/api/v1/groups/229826/users?access_token=1072~Zm4iiMS6qas0RPB7sma5ICpAdLJKU0UMMyeP56yBrxUkL8aANpXnAooC0d3NI2TP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e03871cd883b5f20e16ac4f250d81214"
      Link:
      - <https://bcourses.berkeley.edu/api/v1/groups/229826/users?page=1&per_page=10>;
        rel="current",<https://bcourses.berkeley.edu/api/v1/groups/229826/users?page=1&per_page=10>;
        rel="first",<https://bcourses.berkeley.edu/api/v1/groups/229826/users?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - q=884;at=10720000000446267;dk=170000000000016;a=90242;g=yGkEvpxAPyTeKLHaHOxZqJNjMXbA5ZV86ZZ6139o;s=1072;c=cluster55;z=us-east-1b;o=groups;n=users;t=Group;i=229826;b=1329816;m=1329816;u=0.07;y=0.00;d=0.03;
      X-Canvas-User-Id:
      - '10720000004861900'
      X-Rate-Limit-Remaining:
      - '700.0'
      X-Request-Context-Id:
      - 6462b0db-331b-4b92-a3d8-946268eb82d7
      X-Request-Cost:
      - '0.09768452099999318'
      X-Request-Processor:
      - a01ceb9
      X-Session-Id:
      - 65aaf544a6547e508650b6a165624ed7
    body:
      encoding: UTF-8
      string: '[{"id":4935956,"name":"Yibing Chen","sortable_name":"Chen, Yibing","short_name":"Yibing
        Chen","sis_user_id":"24435363","integration_id":null,"sis_login_id":"1029213","login_id":"1029213"},{"id":4857339,"name":"Jiawei
        Jiang","sortable_name":"Jiang, Jiawei","short_name":"Jiawei Jiang","sis_user_id":"24602191","integration_id":null,"sis_login_id":"1031576","login_id":"1031576"},{"id":4919912,"name":"Junyu
        Wang","sortable_name":"Wang, Junyu","short_name":"Junyu Wang","sis_user_id":"24153759","integration_id":null,"sis_login_id":"1024231","login_id":"1024231"},{"id":4612018,"name":"Jiacheng
        Wu","sortable_name":"Wu, Jiacheng","short_name":"Jiacheng Wu","sis_user_id":"24302790","integration_id":null,"sis_login_id":"1027006","login_id":"1027006"},{"id":4920351,"name":"Shuotong
        Wu","sortable_name":"Wu, Shuotong","short_name":"Shuotong Wu","sis_user_id":"24596399","integration_id":null,"sis_login_id":"1031492","login_id":"1031492"}]'
  recorded_at: Mon, 17 Oct 2016 00:50:14 GMT
- request:
    method: get
    uri: https://bcourses.berkeley.edu/api/v1/groups/229874/users?access_token=1072~Zm4iiMS6qas0RPB7sma5ICpAdLJKU0UMMyeP56yBrxUkL8aANpXnAooC0d3NI2TP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://bcourses.berkeley.edu/api/v1/groups/229874/users?page=1&per_page=10>;
        rel="current",<https://bcourses.berkeley.edu/api/v1/groups/229874/users?page=1&per_page=10>;
        rel="first",<https://bcourses.berkeley.edu/api/v1/groups/229874/users?page=1&per_page=10>;
        rel="last"
      Status:
      - 200 OK
      X-Canvas-Meta:
      - q=763;at=10720000000446267;dk=170000000000016;a=90242;g=yGkEvpxAPyTeKLHaHOxZqJNjMXbA5ZV86ZZ6139o;s=1072;c=cluster55;z=us-east-1b;o=groups;n=users;t=Group;i=229874;b=1330844;m=1330844;u=0.05;y=0.00;d=0.02;
      X-Canvas-User-Id:
      - '10720000004861900'
      X-Rate-Limit-Remaining:
      - '700.0'
      X-Request-Context-Id:
      - f709131e-0df0-44e0-84c4-33d13bbef569
      X-Request-Cost:
      - '0.06758599000001136'
      X-Request-Processor:
      - a01ceb9
      X-Session-Id:
      - 93e803aeeafb15fb143834e547aaaf0f
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 17 Oct 2016 00:50:14 GMT
recorded_with: VCR 3.0.3
